# Assignment 2 â€“ Used Cars Analysis

This notebook addresses all requirements of Assignment 2.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/train.csv')
df.head()

In [ ]:
# Missing values handling
num_cols = df.select_dtypes(include=np.number).columns
cat_cols = df.select_dtypes(exclude=np.number).columns

for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
# Remove units

df['Mileage'] = df['Mileage'].str.replace(' kmpl','', regex=False).astype(float)
df['Engine'] = df['Engine'].str.replace(' CC','', regex=False).astype(float)
df['Power'] = df['Power'].str.replace(' bhp','', regex=False).astype(float)
df['New_Price'] = df['New_Price'].str.replace(' Lakh','', regex=False).astype(float)

In [ ]:
# One-hot encoding

df = pd.get_dummies(df, columns=['Fuel_Type','Transmission'], drop_first=True)

In [ ]:
# Feature engineering
CURRENT_YEAR = 2025
df['Car_Age'] = CURRENT_YEAR - df['Year']

In [ ]:
# Data operations

df.groupby('Fuel_Type_Diesel')['Price'].mean()